.advant {
    padding: 60px 0px;
    
    @include for-desktop{
    padding: 94px 0 0 0;}
}

.advant__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 0;

    @include for-tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.advant__card {
    display: flex;
    background-color: var(--filter-button-color);
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    @include for-tablet {
    width: 354px;
    }

    @include for-desktop {
    width: 270px;
    }

}

.advant__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
    text-align: center;

    @include for-tablet{
        text-align: left;
    }
}

.advant__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 450px;

    @include for-tablet {
        width: 354px;
    }
    
    @include for-desktop {
        width: 270px;
    }
}