.logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;

@include for-desktop{
    font-size: 26px;
    line-height: 1.19;
}

&__part--black {
    color: var(--deep-black-color);
}

&__part--white {
    color: var(--primary-back-color);
}
}